body {
  background-color: #202020;
  font-family: Montserrat, sans-serif;
  color: #b9b9b9;
  font-size: 14px;
  line-height: 20px;
}

.home-hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  min-height: 90vh;
  margin-left: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  background-image: url("../images/pexels-photo-952670.jpeg");
  background-position: 50% 50%;
  background-size: cover;
  -webkit-transition: border 500ms ease;
  transition: border 500ms ease;
}

.button {
  margin: 0px 11px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.4);
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: background-color 500ms ease, text-shadow 500ms ease, color 500ms ease;
  transition: background-color 500ms ease, text-shadow 500ms ease, color 500ms ease;
  color: #d8d8d8;
  font-size: 12px;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  border-color: #fff;
  background-color: #000;
  color: #fff;
  text-shadow: 0 0 12px #fff;
}

.button.nav {
  margin-top: 10px;
  margin-left: 35px;
  padding-left: 0px;
  border-style: none;
}

.button.nav.w--current {
  margin-top: 10px;
  color: #d8d8d8;
  font-weight: 500;
}

.button.footer {
  margin-right: 50px;
  margin-left: 50px;
  border-style: none;
  background-color: transparent;
  font-size: 12px;
  font-weight: 500;
}

.button.form {
  width: 100%;
  margin: 13px 0px 20px;
  background-color: #000;
}

.home-hero-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.body {
  height: auto;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.4);
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #d3d3d3;
}

.heading {
  margin-bottom: 20px;
  padding-bottom: 6px;
  color: #fff;
  font-size: 55px;
  line-height: 47px;
  letter-spacing: 3px;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #4b4b4b;
  background-color: #000;
}

.image {
  border: 0px none #000;
  border-radius: 0px;
  background-color: #000;
  opacity: 1;
  color: #000;
  font-size: 16px;
  background-clip: border-box;
}

.nav-container {
  display: block;
  min-width: 100%;
  margin-top: 0px;
}

.main-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: auto;
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #000;
  background-color: #000;
}

.footer-copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 9px;
  padding-bottom: 9px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.image-2 {
  position: static;
  display: block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  background-color: #c5c3c3;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.div-block-2 {
  margin-right: 0px;
  margin-left: 0px;
  padding: 12px 23px;
}

.nav-menu {
  top: 6px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.footer-hover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.45;
  -webkit-transition: opacity 1500ms ease;
  transition: opacity 1500ms ease;
}

.footer-hover:hover {
  opacity: 1;
}

.middle {
  /* position: absolute; */
  /* top: 50%;
  transform: translateY(-50%); */
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: white;
  margin: 10px;
  border-radius: 30%;
  border: 2px solid white;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #000;
  overflow: hidden;
  position: relative;
}

.btn:hover {
  background: white;
  transition: 0.3s linear;
}

.btn i {
  line-height: 46px;
  font-size: 24px;
  transition: 0.3s linear;
}

.btn:hover i {
  transform: scale(1.3);
  color: #fff;
}

.btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #000;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btn:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

.contact-section {
  height: auto;
  padding-top: 140px;
  padding-bottom: 140px;
  background-image: url("../images/pexels-adrien-olichon-2931251-1.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.contact-container {
  border-radius: 4px;
  background-color: #fff;
  color: #3d3d3d;
}

.contact-container.centered {
  margin-top: 35px;
  padding: 35px 65px 50px;
  border: 1px none #000;
  box-shadow: 1px 1px 40px 0 rgba(0, 0, 0, 0.35);
  text-align: center;
}

.text-area::-webkit-input-placeholder {
  color: #3d3d3d;
}

.text-area:-ms-input-placeholder {
  color: #3d3d3d;
}

.text-area::-ms-input-placeholder {
  color: #3d3d3d;
}

.text-area::placeholder {
  color: #3d3d3d;
}

.form-2 {
  margin-top: 20px;
}

.paragraph {
  margin-top: 18px;
  margin-bottom: 18px;
  font-weight: 500;
}

.heading-2 {
  font-weight: 400;
  text-transform: uppercase;
}

.section {
  height: 119vh;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.31);
  background-color: #000;
  opacity: 1;
  color: #fff;
}

.heading-3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 42px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.heading-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 110px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 55px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.heading-4.about-header {
  margin-top: 120px;
  margin-bottom: 0px;
  font-size: 50px;
}

.heading-4.product-header {
  margin-top: 60px;
  color: #fff;
  font-size: 50px;
}

.heading-5 {
  max-width: 75%;
  margin-top: 15px;
  font-size: 17px;
  font-weight: 400;
}

.heading-5.about-heading {
  font-size: 16px;
  text-align: left;
}

.heading-5.product-heading {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: left;
}

.container.about-sub {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: left;
}

.container.product-sub {
  margin-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.text-span {
  font-size: 16px;
}

.about-paragraph {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 60%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.paragraph-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 40%;
  margin-top: 0px;
  margin-bottom: 73px;
  clear: right;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
}

.paragraph-2.about-paragraph {
  font-size: 15px;
}

.paragraph-2.product-paragraph {
  max-width: 40%;
  margin-top: 40px;
  margin-bottom: 0px;
  padding: 10px;
  color: #fff;
  font-size: 15px;
}

.container-2-product {
  position: static;
  overflow: hidden;
  margin-top: 20px;
}

.container-2-product.about-container {
  height: 40%;
  margin-bottom: 0px;
}

.container-2-product.product-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -45px;
  padding: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.about-image {
  position: absolute;
}

.image-3 {
  float: right;
  text-align: left;
}

.image-4 {
  position: static;
  float: right;
  clear: none;
}

.image-5 {
  position: relative;
  left: 10px;
  top: -320px;
  display: inline-block;
  max-width: 100%;
  margin: 0px 60px 0px 0px;
  padding: 0px;
  float: right;
  font-size: 14px;
  -o-object-fit: fill;
  object-fit: fill;
}

.bold-text {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.text-span-2 {
  font-family: "Instagram square brands";
}

.text-block {
  font-family: "Instagram square brands";
}

.text-span-3 {
  font-family: "Instagram square brands";
}

.text-span-4 {
  font-family: "Instagram square brands";
}

.link-block {
  background-color: #fff;
  background-image: url("../images/");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: repeat;
}

.link-block-2 {
  display: block;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: #fff;
  background-image: url("../images/");
  background-position: 50% 50%;
  background-size: cover;
}

.link-block-3 {
  background-color: #fff;
  background-image: url("../images/");
  background-position: 50% 50%;
  background-size: cover;
}

.link-block-4 {
  background-color: #fff;
  background-image: url("../images/");
  background-position: 50% 50%;
  background-size: cover;
  background-clip: border-box;
}

.social-link {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-background {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: hsla(0, 0%, 100%, 0.2);
  color: #fff;
}

.icon {
  background-color: #5a5a5a;
  font-family: "Facebook square brands";
  font-size: 28px;
}

.section-2 {
  height: 130vh;
  padding-top: 50px;
  background-color: #000;
}

.image-6 {
  position: relative;
  top: 100px;
  right: -15px;
  bottom: 0px;
  display: block;
  height: 250px;
  margin-top: 0px;
  margin-right: 90px;
  margin-bottom: 0px;
  padding: 0px;
  clear: none;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
}

.bold-text-2 {
  font-size: 16px;
}

.bold-text-3 {
  font-size: 16px;
}

.bold-text-4 {
  font-size: 16px;
  font-weight: 400;
}

.bold-text-5 {
  font-size: 16px;
  font-weight: 400;
}

.bold-text-6 {
  font-size: 16px;
  font-weight: 400;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 50%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  text-align: center;
}

.form-select {
  background-color: #fff;
  cursor: pointer;
}

.text-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.text-span-5 {
  position: absolute;
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Fa solid 900", sans-serif;
  font-size: 60px;
  text-align: center;
}

.italic-text {
  font-size: 16px;
}

.text-block-3 {
  height: 100px;
  margin-top: -40px;
  font-size: 14px;
  cursor: pointer;
}

.link-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #000;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: normal;
  cursor: pointer;
}

.text-span-6 {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Fa solid 900", sans-serif;
  font-size: 60px;
  line-height: 50px;
  font-style: normal;
  text-align: center;
  text-decoration: none;
}

.text-span-7 {
  margin-bottom: 0px;
  padding-bottom: 0px;
  border: 1px none #000;
  font-style: normal;
  text-align: center;
  text-decoration: overline;
}

.about-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -25px;
  margin-bottom: 0px;
  padding: 4px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.about-icon.w--current {
  margin-top: -10px;
}

.about-icon.product {
  margin-top: 0px;
  padding: 0px;
}

.text-span-8 {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Fa solid 900", sans-serif;
  font-size: 60px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

.container-4 {
  margin-top: 0px;
  padding-top: 0px;
}

.text-span-9 {
  font-family: "Fa brands 400", sans-serif;
  font-size: 30px;
}

@media screen and (max-width: 991px) {
  .home-hero {
    min-height: 665px;
  }
  .button {
    margin-right: 8px;
    margin-left: 8px;
    padding: 6px 10px;
  }
  .button.nav {
    margin-top: 0px;
    background-color: transparent;
  }
  .button.footer {
    margin-right: 23px;
    margin-left: 23px;
    font-size: 11px;
  }
  .heading {
    font-size: 43px;
  }
  .image {
    margin-left: 24px;
  }
  .footer-copyright {
    font-size: 9px;
  }
  .nav-menu {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(49, 48, 48, 0.75);
    box-shadow: 1px 1px 20px 0 #000;
  }
  .menu-button {
    background-color: transparent;
  }
  .contact-container.centered {
    margin-top: 0px;
    padding: 35px 70px 45px;
  }
  .paragraph {
    font-size: 14px;
  }
  .heading-2 {
    font-size: 35px;
  }
  .section {
    height: 120vh;
  }
  .heading-4.about-header {
    margin-top: 95px;
    font-size: 45px;
  }
  .heading-4.product-header {
    margin-top: 20px;
    font-size: 45px;
  }
  .heading-5.about-heading {
    margin-top: 11px;
    font-size: 15px;
    text-align: center;
  }
  .container.product-sub {
    margin-top: 5px;
  }
  .paragraph-2.about-paragraph {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 55%;
    margin-left: 25px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 15px;
    text-align: center;
  }
  .paragraph-2.product-paragraph {
    max-width: 59%;
    margin-top: 55px;
    margin-right: 10px;
    padding: 20px;
    font-size: 14px;
  }
  .container-2-product.about-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 8px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
  }
  .container-2-product.product-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: -40px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .image-5 {
    position: relative;
    left: auto;
    top: -325px;
    right: 5px;
    display: none;
    max-width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    float: right;
    clear: none;
  }
  .bold-text {
    font-size: 16px;
  }
  .section-2 {
    height: 120vh;
  }
  .image-6 {
    display: none;
    max-width: 100%;
    margin-top: 60px;
    margin-right: 40px;
    margin-bottom: 138px;
  }
  .bold-text-2 {
    font-size: 15px;
  }
  .bold-text-3 {
    font-size: 15px;
  }
  .bold-text-4 {
    font-size: 15px;
  }
  .bold-text-5 {
    font-size: 15px;
  }
  .bold-text-6 {
    font-size: 15px;
  }
  .italic-text {
    font-size: 15px;
  }
  .about-icon {
    margin-top: -10px;
  }
  .about-icon.product {
    margin-top: 20px;
  }
}

@media screen and (max-width: 479px) {
  .home-hero {
    min-height: 653px;
    background-image: url("../images/pexels-photo-952670.jpeg");
    background-position: 50% 50%;
    background-size: cover;
  }
  .button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin-top: 14px;
    margin-bottom: 14px;
    padding: 9px 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    text-align: left;
    letter-spacing: 2px;
  }
  .button.nav {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
  }
  .button.footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-right: 8px;
    margin-left: 0px;
    padding: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
  }
  .button.footer.w--current {
    width: 100%;
    padding: 0px;
    font-size: 12px;
  }
  .button.form {
    width: 88%;
    padding: 5px 0px;
    font-size: 11px;
  }
  .home-hero-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .button-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 25px;
    margin-bottom: 13px;
    margin-left: 0px;
    padding-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    font-size: 38px;
    text-align: center;
  }
  .navbar {
    padding: 2px 0px;
  }
  .main-footer {
    padding: 20px;
  }

  .footer-copyright {
    width: 105%;
    margin-top: 15px;
    font-size: 9px;
    letter-spacing: 0px;
  }
  .image-2 {
    max-width: 100%;
    margin-top: 12px;
  }
  .div-block-2 {
    padding: 0px;
  }
  .nav-menu {
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: #202020;
  }
  .contact-section {
    padding: 65px 20px;
  }
  .contact-container.centered {
    margin-top: 42px;
    padding: 30px 20px;
  }
  .text-area {
    width: 210px;
    font-size: 12px;
    text-align: center;
  }
  .form-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .paragraph {
    font-size: 11px;
  }
  .heading-2 {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 25px;
  }
  .section {
    height: 125vh;
  }
  .heading-4.about-header {
    margin-top: 80px;
    font-size: 37px;
  }
  .heading-4.product-header {
    margin-top: 125px;
    font-size: 37px;
  }
  .heading-5.about-heading {
    margin-top: 8px;
    font-size: 14px;
    text-align: center;
  }
  .heading-5.product-heading {
    margin-bottom: 20px;
    font-size: 13px;
    text-align: center;
  }
  .paragraph-2.about-paragraph {
    max-width: 75%;
    margin-bottom: 55px;
    margin-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 14px;
    text-align: center;
  }
  .paragraph-2.product-paragraph {
    max-width: 75%;
    margin-top: 45px;
    margin-right: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 14px;
    text-align: center;
  }
  .container-2-product.about-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 465px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .container-2-product.product-container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .image-5 {
    display: none;
  }
  .bold-text {
    font-size: 14px;
    font-weight: 700;
  }
  .section-2 {
    height: 168vh;
    padding-top: 0px;
  }
  .image-6 {
    position: absolute;
    display: none;
    margin: 0px auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .bold-text-2 {
    font-size: 14px;
  }
  .bold-text-3 {
    font-size: 14px;
  }
  .bold-text-4 {
    font-size: 14px;
  }
  .bold-text-5 {
    font-size: 14px;
  }
  .bold-text-6 {
    font-size: 14px;
  }
  .form-select {
    width: 210px;
    font-size: 12px;
  }
  .italic-text {
    font-size: 14px;
  }
  .about-icon.w--current {
    margin-top: -10px;
    margin-bottom: 0px;
  }
  .about-icon.product {
    margin-top: 20px;
  }
  .text-span-8 {
    font-size: 45px;
  }
}

@font-face {
  font-family: "Fa brands 400";
  src: url("../fonts/fa-brands-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "Fa solid 900";
  src: url("../fonts/fa-solid-900.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
